.ant-table-cell {
  padding: 4px 6px !important;
}
.filters-container {
  .ant-collapse-header {
    padding: 8px !important;
  }
  .ant-collapse-content {
    margin: 8px !important;
    margin-top: 4px !important;
  }
  .ant-collapse-content-box {
    padding: 0 !important;
    display: flex;
  }
}
.add-product-modal .file-uploaded .ant-upload-drag {
  transition: all 0.3s ease;
}
.add-product-modal .file-uploaded .ant-upload-drag {
  height: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.ant-form-item {
  margin-bottom: 12px !important;
}
.ant-card-small .ant-card-head-title {
  font-size: 16px;
}
.ant-modal-title {
  font-size: 20px !important;
  margin-bottom: 20px !important;
}
.header-nav-dropdown {
  .ant-dropdown-menu {
    background-color: unset !important;
    box-shadow: unset !important;
  }
  .ant-dropdown-menu-item {
    padding: 12px 24px !important;
    background-color: #0070f4;
    color: white !important;
    border-radius: 0 !important;
  }
  .ant-dropdown-menu-item:hover {
    background-color: #005ac3 !important ;
  }
}
.ant-table-content table {
  border: 1px solid #d9d9d9 !important;
}
.ant-table-cell:not(.table-cell-img, .table-cell-action) {
  padding-left: 12px !important;
}
.ant-table-thead {
  .ant-table-cell {
    background-color: #cee0f5 !important;
    font-size: 16px !important;
  }
}
.ant-table-tbody {
  .ant-table-row:nth-child(even) {
    background-color: #f7f8f9 !important;
  }
  .ant-table-cell-row-hover {
    background-color: #e6f8ec !important;
  }
}
.ant-btn:hover{
  color:#Ffff !important;
  border-color: unset !important;
}