@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .transition-sm {
    transition: all 0.2s ease;
  }
  .transition-md {
    transition: all 0.3s ease;
  }
  .transition-lg {
    transition: all 0.4s ease;
  }
  .transition-xl {
    transition: all 0.5s ease;
  }
  .abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .border {
    border-width: 1px;
    border-style: solid;
  }
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1220px;
  }
  .admin-container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1550px;
    display: flex;
    justify-content: center;
    align-items: start;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-inter);
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}
span {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}
a {
  text-decoration: none;
}
